.venv/
.make/
__pycache__/
html/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
*.sqlite3
*.sqlite3-*
*.bdbtmp-*
.*.swp
Installasjon.html
bildebank-config.toml
.bildebank-insightface/
bildebank-tools/
